
body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.themeButton{
  background-color: rgb(192, 8, 8);
  color: #fff;
  color: white;
  height:25px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  margin-top: -2.7rem;
  margin-left: 90%;

}
.themeButton:hover{
  background:#fff;
  color:#000000;
}
.themeButton:active:after{
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.favButton{
  background:#000000;
        color:#fff;
        border:none;
        height:30px;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
        border-radius: 10px;
        margin-bottom: 1rem;
}

.favButton:hover{
  background:#fff;
  color:#000000;
}


h1{
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: .4rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
  
}
.Nav{
  width: 100%;
  height: 100px;
  background-color: rgb(192, 8, 8);
  color: #fff;
  margin: 0;
  padding-top: .1rem;
  text-decoration: none;
  justify-content: space-around;
  text-align: center;
}
.links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}
.link{
  float: left;
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.links :hover{
  background-color: #111;

}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:600px;
  height: 300px;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.subtmitForm{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
}
.subtmitForm:hover {
  background-color: #45a049;
}


.card{
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card img{
  width: 80%;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.logo{
  width: 30px;
  height: 30px;
  margin: .5rem;
  justify-content: space-between;
  filter: invert(100%);

}
.logoDH{
  margin-right: 30rem;

}